body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
}

:root {
    --white-light: #f7f7f7;
    --white-dark: #f1f1f1;
    --white-darker: #e4e4e4;

    --gray-lighter: #cfcfcf;
    --gray-light: #c3c3c3;
    --gray: #888;
    --gray-dark: #555;
    --gray-darker: #444;

    --green-light: #00c76e;
    --green: #00ad5f;
    --red: #ea4545;
    --red-dark: #d63636;

    --blue: #2196F3;

    --yellow: #efcd00;

    --brown: #bd7300;


    --main-dark: #b30074;
    --main: #CC1C8F;
    --main-light: #e06fb9;

}

a:hover,
a:focus,
a:active,
a {
  text-decoration: none;
  outline: none;
}

/* customizing scrollBar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white-dark);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-light);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main);
  }
  


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.table-con {
    overflow-y: auto;
    max-height: 500px;
}

.table-main {
    
}

.table-main thead  {
    border-radius: 10px;
}

.table-main thead tr {
    white-space: nowrap;
    background-color: var(--main);
    color: white;
}

.table-main thead tr th:first-child {
    border-top-right-radius: 10px;
}

.table-main thead tr th:last-child {
    border-top-left-radius: 10px;
}

.table-main tbody td, .table-main tbody th {
    background-color: white;
}





.layout-con {
    display: flex;
    flex-direction: column;
    padding: 50px;

    background: url("./statics/radiant-gradient.svg");
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
}





/* .sidebar.list-group {
    width: 200px;
    height: max-content;
    z-index: 996;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
    background-color: white;
    margin: 20px;
    border-radius: 50px;
    padding: 0;
    border-radius: 20px;
} */

.sidebar {
    min-width: 200px;
    height: max-content;
    z-index: 996;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
    background-color: white;
    margin: 20px;
    border-radius: 50px;
    padding: 0;
    border-radius: 20px;
}

.sidebar > li {
    border: none;
}

/* .sidebar.list-group a {
    color: var(--main);
    text-decoration: none;
} */

.sidebar a {
    color: var(--main);
    text-decoration: none;
}

.sidebar li.active {
    background-color: var(--main);
}
.sidebar li a {
    text-decoration: none;
    color: var(--main);
}
.sidebar li.active a {
    color: white;
}



/* .sidebar > * {
    text-decoration: none;
} */




.loader {
    z-index: 1060;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #efefef;
    border-radius: 30px;
    padding: 50px;
    font-size: 26px;
}

.table-buttons-con {
    display: flex;
}

.main {
    display: flex;
}

.new-button {
    width: max-content;
}


@media (max-width: 1280px) {
    .layout-con {
        padding: 30px;
    }
}